body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Creepster', cursive; /* Fonte com tema de Halloween */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ff4500;
}

h1 {
    color: #ff4500;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
}
